#set($end=${package.ServiceImpl.length()} - 1)
package ${package.ServiceImpl.substring(0,$end)};


import ${package.Entity}.${entity};
import ${package.Mapper}.${table.mapperName};
import com.basic.starter.mybatis.dao.BaseDao;
import org.springframework.stereotype.Repository;

/**
 * <p>
 * $!{table.comment} 服务实现类
 * </p>
 *
 * @author ${author}
 */
@Repository
#if(${kotlin})
open class ${table.serviceImplName} : ${superServiceImplClass}<${table.mapperName}, ${entity}>(), ${table.serviceName} {

}
#else
public class ${table.entityName}Dao extends BaseDao<${table.mapperName}, ${entity}> {

}
#end
